section {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 0.0625rem solid #E5E7EB;
    border-radius: 1rem;
}

.card > hr {
    margin-right: 0;
    margin-left: 0;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem 1.5rem;
}

.card-title {
    font-weight: bold;
    margin-bottom: 0.75rem;
}

.card-title a {
    color: inherit;
}

.card-title a:hover {
    color: #5E05C2;
}

.card-text {
    font-size: 12px;
}

.card-img,
.card-img-top {
    border-radius: 0;
}

.card-img,
.card-img-top {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-top-left-radius: 0.9375rem;
    border-top-right-radius: 0.9375rem;
}

.rounded-top {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}

.animate-up-1,
.animate-right-1,
.animate-down-1,
.animate-left-1,
.scale-up-1,
.scale-down-1 {
    transition: all 0.2s ease;
}
.animate-up-1:hover,
.animate-hover:hover .animate-up-1 {
    transform: translate(0, -1px);
}
.animate-right-1:hover,
.animate-hover:hover .animate-right-1 {
    transform: translate(1px, 0);
}
.animate-down-1:hover,
.animate-hover:hover .animate-down-1 {
    transform: translate(0, 1px);
}
.animate-left-1:hover,
.animate-hover:hover .animate-left-1 {
    transform: translate(-1px, 0);
}

.animate-up-2,
.animate-right-2,
.animate-down-2,
.animate-left-2,
.scale-up-2,
.scale-down-2 {
    transition: all 0.2s ease;
}
.scale-up-2:hover {
    transform: scale(1.11111);
}
.scale-up-hover-2:hover .scale {
    transform: scale(1.11111);
}
.scale-down-2:hover {
    transform: scale(0.8);
}
.animate-up-2:hover,
.animate-hover:hover .animate-up-2 {
    transform: translate(0, -2px);
}
.animate-right-2:hover,
.animate-hover:hover .animate-right-2 {
    transform: translate(2px, 0);
}
.animate-down-2:hover,
.animate-hover:hover .animate-down-2 {
    transform: translate(0, 2px);
}
.animate-left-2:hover,
.animate-hover:hover .animate-left-2 {
    transform: translate(-2px, 0);
}

.animate-up-3,
.animate-right-3,
.animate-down-3,
.animate-left-3,
.scale-up-3,
.scale-down-3 {
    transition: all 0.2s ease;
}
.scale-up-3:hover {
    transform: scale(1.66667);
}
.scale-up-hover-3:hover .scale {
    transform: scale(1.66667);
}
.scale-down-3:hover {
    transform: scale(1.2);
}
.animate-up-3:hover,
.animate-hover:hover .animate-up-3 {
    transform: translate(0, -3px);
}
.animate-right-3:hover,
.animate-hover:hover .animate-right-3 {
    transform: translate(3px, 0);
}
.animate-down-3:hover,
.animate-hover:hover .animate-down-3 {
    transform: translate(0, 3px);
}
.animate-left-3:hover,
.animate-hover:hover .animate-left-3 {
    transform: translate(-3px, 0);
}

.animate-up-4,
.animate-right-4,
.animate-down-4,
.animate-left-4,
.scale-up-4,
.scale-down-4 {
    transition: all 0.2s ease;
}
.scale-up-4:hover {
    transform: scale(2.22222);
}
.scale-up-hover-4:hover .scale {
    transform: scale(2.22222);
}
.scale-down-4:hover {
    transform: scale(1.6);
}
.animate-up-4:hover,
.animate-hover:hover .animate-up-4 {
    transform: translate(0, -4px);
}
.animate-right-4:hover,
.animate-hover:hover .animate-right-4 {
    transform: translate(4px, 0);
}
.animate-down-4:hover,
.animate-hover:hover .animate-down-4 {
    transform: translate(0, 4px);
}
.animate-left-4:hover,
.animate-hover:hover .animate-left-4 {
    transform: translate(-4px, 0);
}

.animate-up-5,
.animate-right-5,
.animate-down-5,
.animate-left-5,
.scale-up-5,
.scale-down-5 {
    transition: all 0.2s ease;
}
.scale-up-5:hover {
    transform: scale(2.77778);
}
.scale-up-hover-5:hover .scale {
    transform: scale(2.77778);
}
.scale-down-5:hover {
    transform: scale(2);
}
.animate-up-5:hover,
.animate-hover:hover .animate-up-5 {
    transform: translate(0, -5px);
}
.animate-right-5:hover,
.animate-hover:hover .animate-right-5 {
    transform: translate(5px, 0);
}
.animate-down-5:hover,
.animate-hover:hover .animate-down-5 {
    transform: translate(0, 5px);
}
.animate-left-5:hover,
.animate-hover:hover .animate-left-5 {
    transform: translate(-5px, 0);
}